/* add CSS class and element and selectors here */
body {
  background-color: #BF4B4A;
  font-size:200%;
}

.beepbeep {
  color: white;
  font-family: helvetica;
  font-size: 300%;
  border: 10px dotted red;
}